.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.aboutMe_title {
  margin-top: 2rem;
  font-size: 1.25rem;
  max-width: 600px;
  flex-direction: row;
  text-align: center;
  
}

.title {
  margin-bottom: 1rem;
}

.description {
  font-size: 1.25rem;
  color: #666;
}

.profileImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 2rem;
}