.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    position: relative;
    background: var(--include-gradient);
    color: var(--text-light);

    height: 100vh;
    padding-top: 20%;

    h1 {
        font-size: 3rem;
        font-weight: bold;
    }
    
    ul {
        font-size: 1.5rem;
        gap: 8px;
        
        li:first-child {
            font-weight: bold;
            font-size: 1.7rem;
            text-decoration: underline;
            list-style-type: none;
        }

        li {
            margin-bottom: 10px;
        }

        span {
            font-weight: bold;
            color: var(--accent-color)
        }
    }
}

.image {
    position: absolute;
    top: 20px;
    left: 40px;
}