@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #f1f1f1;
  color: #202020;
  font-family: Lexend;
}

.title {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.description {
  font-size: 1.25rem;
  color: #666;
}