.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.title {
  margin-bottom: 1rem;
}

.description {
  font-size: 1.25rem;
  color: #666;
}

.skills {
  display: flex;
  gap: 30px;
}